<html>
    <head>
        <title>
            <%= title %>
        </title>
    <script src="https://js.stripe.com/v3/"></script>

    </head>
    <body>
        <input type="text" name="email" id="email">
        <br>
        <input type="button" value="ForgotPassword" id = "forgotpassword">
        <br>
        <input type="button" value="Login" id = "getlogin">
    </body>
    <script src="/js/bundle.js"></script>
</html>