<html>
    <head>
        <title>
            <%= title %>
        </title>
    <script src="https://js.stripe.com/v3/"></script>

    </head>
    <body>
        <input type="text" value="" id = "firstname">
        <br>
        <input type="text" value = '' id = 'lastname'>
        <br>
        <input type="text" name="email" id="email">
        <br>
        <input type="password" name="password" id="signuppassword">
        <br>
        <input type="button" value="submit" id="signup">
        <br>
        
    </body>
    <script src="/js/bundle.js"></script>
</html>