<html>
    <head>
        <title>
            <%= 'title' %>
        </title>
    <script src="https://js.stripe.com/v3/"></script>

    </head>
    <body>

            <br>
            Categories : 
             <br>
                
                Name : <input type="text" name="" value="<%= category.name %>" id="categoryname">  

             <input type="button" value= "Update Details" id = 'docategoryupdate' name = '<%= category._id %>'>

    </body>
    <script src="/js/bundle.js"></script>
</html>