<html>
    <head>
        <title>
            <%= 'title' %>
        </title>
        <script src="https://js.stripe.com/v3/"></script>

    </head>

<body>
    
    <input type="button" value="Categories" id = "getallcategories">
        <br>
        <input type="button" value = "Products" id = 'getallproducts'>
    <br>
    <br>
    <br>
    <input type="button" value="Orders" id="getallorders">
    <br>

     

</body>
    <script src="/js/bundle.js"></script>

</html>